@charset "UTF-8";
.select:hover .options {
	display: block;
}
* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	font-family: sans-serif;
}

.visibility {
	visibility: hidden
}

.textForm {
	border-bottom: 2px solid #adadad;
	padding: 10px 10px;
}

.id, .pw, .name, .nickname, .email, .age {
	width: 100%;
	border: none;
	outline: none;
	color: #636e72;
	font-size: 16px;
	height: 25px;
	background: none;
}


.button {
	position: absolute;
	width: 80px;
	height: 35px;
	margin: auto 0;
	border-radius: 3px;
	font-weight: bold;
	border: none;
	cursor: pointer;
	transition: 0.4s;
	display: inline;
}

.profile-pic {
	border: 1px solid black;
	display: 1px solid block;
	width: 150px;
	height: 200px;
	border-radius: 50%;
	position: relative;
}

.img-input-container {
	display: flex;
}

.img-input-container img {
	margin-right: 10px;
}

.input-row {
	flex-direction: column;
	width: 90%;
	border-bottom: 2px solid #adadad;
	padding: 10px
	
}

  .button-container {
        display: flex;
    }
    
    .button-container button {
        margin: 0 5px;
    }

