@charset "UTF-8";

body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }
    
 section{
 	text-align: center;
 }

    .navbar {
      background-color: green;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .logo img {
      width: 50px;
      height: auto;
    }

    .login-btn {
      padding: 10px 20px;
      background-color: white;
      color: green;
      border: none;
      font-size: 16px;
      cursor: pointer;
    }
    
#find,
#info,
#join,
#login,
#mypage,
#detail,
#modify,
#write {
  background-color: limegreen;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
}

#find:hover,
#info:hover,
#join:hover,
#login:hover,
#mypage:hover,
#detail:hover,
#modify:hover,
#write:hover {
  background-color: darkgreen;
}

h1 {
  color: darkgreen;
}

form {
  margin: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea {
  width: 300px;
  padding: 5px;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-top: 5px;
}

#submitBtn,
#deleteBtn,
#backBtn,
#modifyBtn,
#infopage,
#a,
#b,
#c {
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}

#submitBtn:hover,
#deleteBtn:hover,
#backBtn:hover,
#modifyBtn:hover,
#infopage:hover,
#a:hover,
#b:hover,
#c:hover {
  background-color: darkgreen;
  border-radius: 1px solid;
}



#group button {
  background-color: limegreen;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

#group span {
  color: limegreen;
  cursor: pointer;
}